#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6f2ff;
  display: flex;
}

.container {
  display: flex;
}

.side-nav {
  width: 200px;
  background-color: #57adeb;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.side-nav a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.side-nav a:hover {
  text-decoration: underline;
}

.side-nav a i {
  margin-right: 10px;
}

.content {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  margin-left: 220px; /* Adjust for fixed side nav */
}

.profile-picture {
  text-align: center;
  margin-top: 20px;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid #fff;
}

.profile-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background: linear-gradient(#57adeb, rgb(182, 208, 226));
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  flex: 1;
  font-weight: bold;
  margin-right: 10px;
}

.form-group input,
.form-group select {
  flex: 2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-container {
  text-align: center;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0056b3;
}
